<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="cart">
  	<insert id="insert">
        INSERT INTO cart (cart_id, added_date, member_id, game_no) 
        VALUES (
            cart_seq.NEXTVAL, #{addedDate}, 
            #{memberId},#{gameNo} )
    </insert>
    
    <delete id="delete">
        DELETE FROM cart WHERE cart_id = #{cartId}
    </delete>
     <select id="list" resultType="CartDto">
        SELECT * FROM cart WHERE game_title = #{gameTitle}
    </select>
  </mapper>