<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="cart">
    
    <insert id="addToCart">
    INSERT INTO cart (cart_id, member_id, game_no, added_date) 
    VALUES (cart_seq.NEXTVAL, #{memberId}, #{gameNo}, SYSTIMESTAMP)
	</insert>
    
    <delete id="delete">
        DELETE FROM cart WHERE game_no = #{gameNo}
    </delete>
    
     <select id="listbygameTilte" resultType="CartDto">
        SELECT * FROM cart WHERE game_title = #{gameTitle}
    </select>
    
    <select id="list" resultType="CartDto">
    	select * from cart
    </select>
    
    <select id="detailList" resultType="CartDto">
    SELECT 
        c.*, 
        g.game_title AS gameTitle, 
        g.game_price AS gamePrice, 
        gI.attachment_no AS attachmentNo
    FROM 
        cart c
    JOIN 
        game g ON c.game_no = g.game_no  -- gameNo로 연결
    LEFT JOIN 
        game_image gI ON g.game_no = gI.game_no  -- gameNo로 연결
    WHERE 
        c.member_id = #{memberId}
</select>


  </mapper>