<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="communityImage">
	<!-- 게임 이미지 등록 -->
	<insert id="add">
		insert into community_image(attachment_no, community_no)
		values(#{attachmentNo}, #{communityNo})
	</insert>

	<!-- 게임별 이미지 목록 -->
	<!-- 변경된 부분 -->
<select id="listByCommunity" resultType="com.game.dto.CommunityImageDto">
    select * from community_image where community_no = #{communityNo}
</select>

	
	<!-- 게임 이미지 삭제 -->
	<delete id="remove">
		delete community_image
		where attachment_no = #{attachmentNo} and community_no = #{communityNo}
	</delete>
	
</mapper>