<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="library">
  
  <insert id="insert">
  	INSERT INTO library (library_id, member_id, game_no, purchase_date, playtime_hours, installed)
	VALUES (library_seq.NEXTVAL, #{memberId}, #{gameNo}, SYSTIMESTAMP, 0, 1)
  </insert>
  
  <delete id="del">
  	delete from library where game_no=#{gameNo}
  </delete>
  
 <select id="listbymemberid" resultType="libraryDto">
  select
    l.*, 
    g.game_title AS gameTitle,
    g.game_no,  -- 추가: 게임 번호 등 필요한 다른 필드 추가
    gI.attachment_no AS attachmentNo  -- 추가: 이미지 경로 등 필요하면 추가
  from
    library l
  join
    game g on l.game_no = g.game_no
  left join
    game_image gI on g.game_no = gI.game_no
  where
    l.member_id = #{memberId}
</select>
  
  </mapper>