<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="payment">

    <!-- Payment 테이블의 다음 시퀀스 값을 가져옵니다. -->
    <select id="getNextPaymentSeq" resultType="int">
        SELECT payment_seq.NEXTVAL FROM DUAL
    </select>

    <!-- Payment 테이블에 결제 정보를 삽입합니다. -->
    <insert id="insertPayment" parameterType="PaymentDto">
        INSERT INTO payment (
            payment_no, payment_tid, payment_name, payment_total,
            payment_remain, payment_member_id, payment_time
        ) VALUES (
            #{paymentNo}, #{paymentTid}, #{paymentName}, #{paymentTotal},
            #{paymentRemain}, #{paymentMemberId}, SYSDATE
        )
    </insert>
    <select id="selectAllPayments" parameterType="map" resultType="PaymentDto">
        SELECT *
        FROM payment
        WHERE 1=1
     
        <if test="memberId != null and memberId != ''">
            AND payment_member_id = #{memberId}
        </if>
    </select>
<select id="getTotalSales" resultType="double" parameterType="map">
    SELECT SUM(p.payment_total)
    FROM payment p
    JOIN payment_detail pd ON p.payment_no = pd.payment_detail_origin
    WHERE pd.payment_detail_status = '승인'
 
</select>



    <!-- Payment 테이블에서 특정 회원의 결제 리스트를 가져옵니다. -->
    <select id="selectPaymentsByMemberId" parameterType="string" resultType="PaymentDto">
        SELECT *
        FROM payment
        WHERE payment_member_id = #{memberId}
    </select>

    <!-- Payment 테이블에서 특정 결제 번호의 정보를 가져옵니다. -->
    <select id="selectPaymentByNo" parameterType="int" resultType="PaymentDto">
        SELECT *
        FROM payment
        WHERE payment_no = #{paymentNo}
    </select>

   <update id="cancelAll">
		update payment 
		set payment_remain = 0
		where payment_no = #{paymentNo}
	</update>
	<update id="cancelAllItem">
		update payment_detail
		set payment_detail_status = '취소'
		where payment_detail_origin = #{paymentNo}
	</update>
</mapper>