<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="play">

	<select id="playSequence" resultType="int">
		select play_seq.nextval from dual
	</select>
	<insert id="insert">
		insert into play(
		play_no, game_no, member_id, play_score, play_level, play_playtime,
		play_lastplayed
		)
		values(play_seq.nextval, #{gameNo}, #{memberId}, #{playScore},
		#{playLevel}, #{playTime}, #{playLastplayed})
	</insert>

	<!-- 점수 랭킹 -->
	<select id="scoreRanking" resultType="PlayDto">
		select * from play order by play_score desc
	</select>
	<!-- 레벨 랭킹 -->
	<select id="levelRanking" resultType="PlayDto">
		select * from play order by play_level desc, play_score desc
	</select>

	
	
	<!-- 아이디 검색 -->
	<select id="idSearch" resultType="PlayDto">
		select * from play where instr(member_id, #{keyword}) > 0 order by play_score desc
	</select>
	<!-- 포인트 합계  -->
	<select id="getPoint" resultType="PlayDto">
		select sum(play_score) from play where member_id = #{memberId}
	</select>

</mapper>