<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="reply">
  <!-- 시퀀스 -->
  <select id="sequence" resultType="int">
  	select reply_seq.nextval from dual
  </select>
  
  <!-- 등록기능 -->
  <insert id="insert">
  	insert into reply(
  		reply_no, reply_writer, reply_content,
  		reply_origin, reply_target, reply_group,
  		reply_depth
  	)values(
  		#{replyNo}, #{replyWriter}, #{replyContent},
  		#{replyOrigin}, #{replyTarget}, #{replyGroup},
  		#{replyDepth}
  			)
  </insert>
  
  <!-- 삭제기능 -->
  <delete id="delete">
  	delete from reply
  	where reply_no = #{replyNo} <!-- and reply_writer = #{replyWriter }-->
  </delete>
  
  <!-- 수정기능 -->
  <update id="update">
  	update reply
  	set reply_content = #{replyContent},
  		 where reply_no = #{replyNo} <!-- and reply_writer = #{replyWriter }-->
  </update>
  
  <!-- 목록기능 -->
  <select id="list" resultType="ReplyDto">
  <include refid="top-n-header"></include>
  	select * from reply
  	where reply_origin = #{replyOrigin}
  	order by
  	reply_no desc
  <include refid="top-n-footer"></include>
  </select>
  
  <!-- 상세 -->
  <select id="detail">
  		select * from reply where  reply_no = #{replyNo}
  </select>
  
  <!-- 
		자주 사용하는(ex : Top N Query) 구문들을 보관해두고 불러서 사용
		- 구문의 조각은 <sql> 태그로 작성
		- 이 구문을 불러올 때는 <include>를 사용 
		- beginRow와 endRow가 있을 때만 구동되도록 설정
	-->
	<sql id="top-n-header">
		<if test="beginRow != null and endRow != null">
		select * from (
  			select rownum rn, TMP.* from(
  		</if>
	</sql>
	<sql id="top-n-footer">
		<if test="beginRow != null and endRow != null">
		 	)TMP
		)
		where rn between #{beginRow} and #{endRow}
		</if>
	</sql>
  </mapper>