<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wishlist">
    <select id="sequence">
        select wishlist_seq.NEXTVAL FROM DUAL
    </select>
    <insert id="insert">
        insert into wishList(
            wishlist_id, member_id, game_no, added_date
        )
        values(#{wishlistId}, #{memberId}, #{gameNo}, SYSDATE)
    </insert>
    <delete id="delete">
        delete from wishList where wishlist_id = #{wishlistId}
    </delete>
    <select id="list" resultType="wishListDto">
        select * from wishList where added_date = #{addedDate} order by added_date asc
    </select>
    
    <select id="listbyId" resultType="wishListDto">
    	select * from wishList where member_id = #{memberId}
    </select>
</mapper>