<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wishlist">
    <select id="sequence">
        select wishlist_seq.NEXTVAL FROM DUAL
    </select>
    <insert id="insert">
        insert into wishList(
            wishlist_id, member_id, game_no, added_date
        )
        values(#{wishlistId}, #{memberId}, #{gameNo}, SYSDATE)
    </insert>
    <delete id="delete">
        delete from wishList where wishlist_id = #{wishlistId}
    </delete>
    
    <select id="list" resultType="wishListDto">
    	select * from wishList
    </select>
    
    <select id="listByMemberId" resultType="wishListDto">
    SELECT 
    w.*, 
    g.game_title AS gameTitle, 
    g.game_price AS gamePrice, 
    gI.attachment_no AS attachmentNo
FROM 
    wishList w
JOIN 
    game g ON w.game_no = g.game_no  -- gameNo로 연결
LEFT JOIN 
    game_image gI ON g.game_no = gI.game_no  -- gameNo로 연결
WHERE 
    w.member_id = #{memberId}
    </select>
    
    <select id="search" resultType="wishListDto">
    <![CDATA[
    SELECT 
        w.wishlist_id, 
        w.member_id, 
        g.game_no,
        g.game_title,
        TO_CHAR(g.game_publication_date, 'YYYY-MM-DD') AS release_date,
        g.game_price
    FROM 
        wishList w
    LEFT OUTER JOIN 
        game g ON w.game_no = g.game_no
    WHERE 
        INSTR(LOWER(g.game_title), LOWER(#{keyword})) > 0
    ORDER BY g.game_title ASC
    ]]>
</select>
    
    
</mapper>